
@font-face {
  font-family: 'SciFly-Sans';
  src: url('SciFly-Sans.eot?#iefix') format('embedded-opentype'),  url('SciFly-Sans.woff') format('woff'), url('SciFly-Sans.ttf')  format('truetype'), url('SciFly-Sans.svg#SciFly-Sans') format('svg');
  font-weight: normal;
  font-style: normal;
}
